.navbar {
    background-color: #034A91;
    color: #fff;
}

.navbar--button {
    display: flex;
    background-color: #034A91;
    color: #fff;
    border-radius: 8px;
    border: none;
}

.navbar--button:hover {
    background-color: #3471af;
    color: white;
}

.navbar--icon {
    width: 20px;
    height: auto;
    margin: 5px;
}

.container{
    margin: 40px;
}

.container--header{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.header--buttons{
    display: flex;
    gap: 20px;
}

.accion--icon{
    height: 12px;
    width: auto;
    margin: 5px;
}

.table--name{
    width: 40%;
}

table{
    text-align: center;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 15%; /* Location of the box */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    width: 300px;
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.info--votacion{
    margin: 30px;
}